In [70]:
import numpy as np
import pandas as pd 
import geopandas as gpd
import os
from shapely.geometry import Point
from shapely.geometry import MultiPolygon, Polygon
import time
import psycopg2
from io import StringIO

In [112]:
def add_bike(dataframe, taxiZone):
    #time process to estimate the total time across all data sources
    start_time = time.time()
    
    dataframe['mode'] = 'bike'
    dataframe['passenger_count'] = 1

    #defining tables for pickup
    bikePickup = dataframe[['passenger_count', 'started_at_unix', 'start_lng', 'start_lat', 'mode']].copy()
    bikePickup.loc[:, 'geometry'] = bikePickup.apply(lambda row: Point(row['start_lng'], row['start_lat']), axis=1)
    bikePickup.loc[:, 'passenger_count'] = bikePickup['passenger_count'] * -1

    geoPickup = gpd.GeoDataFrame(bikePickup, geometry='geometry', crs="EPSG:4326")
    pickupJoined = gpd.sjoin(geoPickup, taxiZone, how="left", predicate="within")
    pickupJoined = pickupJoined.drop(columns=['geometry', 'start_lng', 'start_lat', 'index_right'])

    #defining tables for dropoff
    bikeDropoff = bike[['passenger_count', 'ended_at_unix', 'end_lng', 'end_lat', 'mode']].copy()
    bikeDropoff.loc[:, 'geometry'] = bikeDropoff.apply(lambda row: Point(row['end_lng'], row['end_lat']), axis=1)
    
    geoDropoff = gpd.GeoDataFrame(bikeDropoff, geometry='geometry', crs="EPSG:4326")
    dropoffJoined = gpd.sjoin(geoDropoff, taxiZone, how="left", predicate="within")
    dropoffJoined = dropoffJoined.drop(columns=['geometry', 'end_lng', 'end_lat', 'index_right'])
    
    
    # Rename columns in pickupJoined and dropoffJoined
    pickupJoined = pickupJoined.rename(columns={
        'passenger_count': 'busynessscore',
        'started_at_unix': 'timestamp',
        'location_id':'zonenumber'
    })
    
    dropoffJoined = dropoffJoined.rename(columns={
        'passenger_count': 'busynessscore',
        'ended_at_unix': 'timestamp',
        'location_id':'zonenumber'
    })
    
    # Concatenate pickupJoined and dropoffJoined into a single DataFrame
    bikeOutput = pd.concat([pickupJoined, dropoffJoined], ignore_index=True)
    
    bikeOutput['busynessscore'] = bikeOutput['busynessscore'].astype(int)
    
    print(f'add_bike took {time.time() - start_time} seconds to complete')
    
    return bikeOutput

In [134]:
def add_taxi(dataframe, taxiZone):
    #time process to estimate the total time across all data sources
    start_time = time.time()
    
    dataframe['mode'] = 'taxi'

    #defining tables for pickup
    taxiPickup = dataframe[['passenger_count', 'started_at_unix', 'start_lng', 'start_lat', 'mode']].copy()
    taxiPickup.loc[:, 'geometry'] = taxiPickup.apply(lambda row: Point(row['start_lng'], row['start_lat']), axis=1)
    taxiPickup.loc[:, 'passenger_count'] = taxiPickup['passenger_count'] * -1

    geoPickup = gpd.GeoDataFrame(taxiPickup, geometry='geometry', crs="EPSG:4326")
    pickupJoined = gpd.sjoin(geoPickup, taxiZone, how="left", predicate="within")
    pickupJoined = pickupJoined.drop(columns=['geometry', 'start_lng', 'start_lat', 'index_right'])

    #defining tables for dropoff
    taxiDropoff = taxi[['passenger_count', 'ended_at_unix', 'end_lng', 'end_lat', 'mode']].copy()
    taxiDropoff.loc[:, 'geometry'] = taxiDropoff.apply(lambda row: Point(row['end_lng'], row['end_lat']), axis=1)
    
    geoDropoff = gpd.GeoDataFrame(taxiDropoff, geometry='geometry', crs="EPSG:4326")
    dropoffJoined = gpd.sjoin(geoDropoff, taxiZone, how="left", predicate="within")
    dropoffJoined = dropoffJoined.drop(columns=['geometry', 'end_lng', 'end_lat', 'index_right'])
    
    
    # Rename columns in pickupJoined and dropoffJoined
    pickupJoined = pickupJoined.rename(columns={
        'passenger_count': 'busynessscore',
        'started_at_unix': 'timestamp',
        'location_id':'zonenumber'
    })
    
    dropoffJoined = dropoffJoined.rename(columns={
        'passenger_count': 'busynessscore',
        'ended_at_unix': 'timestamp',
        'location_id':'zonenumber'
    })
    
    # Concatenate pickupJoined and dropoffJoined into a single DataFrame
    taxiOutput = pd.concat([pickupJoined, dropoffJoined], ignore_index=True)
    
    taxiOutput['busynessscore'] = taxiOutput['busynessscore'].astype(int)
    
    print(f'add_taxi took {time.time() - start_time} seconds to complete')
    taxiOutput = taxiOutput[taxiOutput['zonenumber'].isna()==False]
    return taxiOutput

In [75]:
taxiZone = gpd.read_file('NYCTaxiZones.geojson')
taxiZone = taxiZone.drop(columns=['shape_area','zone','borough','objectid','shape_leng'])
taxiZone.set_geometry("geometry", inplace=True)

In [61]:
taxi = pd.read_csv(taxiArray[0])

In [129]:
taxiOutput = add_taxi(taxi, taxiZone)

add_taxi took 40.38041400909424 seconds to complete

In [133]:
# taxiOutput['zonenumber']==null
null_zonenumber_rows = taxiOutput[taxiOutput['zonenumber'].isna()]

# Print the filtered DataFrame
# print(null_zonenumber_rows)

filtered_taxi_2 = taxiOutput[taxiOutput['zonenumber'].isna()==False]
filtered_taxi_2

         busynessscore   timestamp  mode zonenumber
0                   -1  1704070675  taxi        186
1                   -1  1704067380  taxi        140
2                   -1  1704068226  taxi        236
3                   -1  1704069398  taxi         79
4                   -1  1704070011  taxi        211
...                ...         ...   ...        ...
5457571              1  1706743773  taxi        243
5457572              1  1706743110  taxi        129
5457573              1  1706743055  taxi        261
5457574              3  1706743500  taxi        249
5457575              1  1706742552  taxi        263

[5457513 rows x 4 columns]

In [136]:
def connect_to_postgres(dataframe ,postgres_host, postgres_port, database_name, db_user, db_password, table_name):
    
    start_time = time.time()
    
    conn = psycopg2.connect(
        database = database_name,
        user = db_user,
        password = db_password,
        host=postgres_host,
        port=postgres_port
    )
    print("PostgreSQL connection opened")

    # Example: Execute SQL query
    cursor = conn.cursor()
        
# Create a temporary table with DOUBLE PRECISION for lat/lng and BIGINT for Unix timestamps
        
    cursor.execute('''
    CREATE TEMP TABLE temp (
        busynessscore INTEGER,
        timestamp DOUBLE PRECISION,
        mode VARCHAR(50),
        zonenumber INTEGER 
    );
    ''')

        # Using StringIO to perform bulk insert into the temporary table
        buffer = StringIO()
        dataframe.to_csv(buffer, index=False, header=False)
        buffer.seek(0)

        cursor.copy_expert(f"""
        COPY temp (busynessscore, timestamp, mode, zonenumber)
        FROM STDIN WITH CSV
        """, buffer)

        # Insert data from the temporary table to the target table with conflict handling
        cursor.execute(f"""
        INSERT INTO {table_name} (busynessscore, timestamp, mode, zonenumber)
        SELECT busynessscore, timestamp, mode, zonenumber
        FROM temp
        ON CONFLICT DO NOTHING;
        """)

        # Commit the transaction
        try conn.commit():
            print("Data inserted successfully")
            
        conn.commit()
        print("Data inserted successfully")

        # Close the PostgreSQL connection
        cursor.close()
        conn.close()
        print("PostgreSQL connection closed")

    print(f'connect_to_postgres took {time.time() - start_time} seconds to complete')

IndentationError: unexpected indent (367535078.py, line 29)

In [82]:
bikeOutput = add_bike(bike, taxiZone)

add_taxi took 46.61847400665283 seconds to complete

In [83]:
bikeOutput

         busynessscore   timestamp  mode zonenumber
0                   -1  1696119404  bike        168
1                   -1  1696119804  bike        168
2                   -1  1696119678  bike        161
3                   -2  1696119375  bike        151
4                   -1  1696120394  bike        238
...                ...         ...   ...        ...
6462239              2  1698796674  bike        160
6462240              1  1698793763  bike        143
6462241              2  1698794566  bike        236
6462242              3  1698798019  bike         61
6462243              1  1698795440  bike        170

[6462244 rows x 4 columns]

In [103]:
taxiDir = '/Users/brianmcmahon/Downloads/yellow_taxi_clean'

taxiArray = []
for subdir, dirs, files in os.walk(taxiDir):
    for file in files:
        x = os.path.join(subdir, file)
        if x[-3:] == 'csv':
            taxiArray.append(x)
# print(taxiArray)

In [104]:
bikeDir = '/Users/brianmcmahon/Downloads/CitiBike/filtered'

bikeArray = []
for subdir, dirs, files in os.walk(bikeDir):
    for file in files:
        x = os.path.join(subdir, file)
        if x[-3:] == 'csv':
            bikeArray.append(x)
# print(bikeArray)

In [105]:
subDir = '/Users/brianmcmahon/Desktop/Subway_Filtered'

subArray = []
for subdir, dirs, files in os.walk(subDir):
    for file in files:
        x = os.path.join(subdir, file)
        if x[-3:] == 'csv':
            subArray.append(x)
# print(subArray)

In [74]:
postgres_host = 'localhost'
postgres_port = 5432 
database_name = 'busyness'
db_user = 'crafty'
db_password = 'winner'
table_name = 'public.busyness_data'

# Call the function to establish SSH tunnel and connect to PostgreSQL
if __name__ == '__main__':
    taxiOutput = add_taxi(taxi, taxiZone)
    connect_to_postgres(taxiOutput ,postgres_host, postgres_port, database_name, db_user, db_password, table_name)

add_taxi took 45.88121581077576 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 12.824935913085938 seconds to complete

In [135]:
postgres_host = 'localhost'
postgres_port = 5432 
database_name = 'busyness'
db_user = 'crafty'
db_password = 'winner'
table_name = 'public.busyness_data_2'
taxiArray = ['/Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-01.csv',
            '/Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-02.csv',
            '/Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-03.csv',
            '/Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-04.csv']
# taxiArray
for i,taxi_name in enumerate(taxiArray):
    print(i+1,"/",len(taxiArray),taxi_name)
    taxi = pd.read_csv(taxi_name)
    taxiOutput = add_taxi(taxi, taxiZone)
    connect_to_postgres(taxiOutput ,postgres_host, postgres_port, database_name, db_user, db_password, table_name)
# taxi = pd.read_csv('/Users/brianmcmahon/Downloads/yellow_taxi_clean/-06.csv')
# taxiOutput = add_taxi(taxi, taxiZone)
# connect_to_postgres(taxiOutput ,postgres_host, postgres_port, database_name, db_user, db_password, table_name)

1 / 4 /Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-01.csv
add_taxi took 40.27506399154663 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 41.79831004142761 seconds to complete
2 / 4 /Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-02.csv
add_taxi took 39.309959173202515 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 40.08965611457825 seconds to complete
3 / 4 /Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-03.csv
add_taxi took 44.2085440158844 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 47.2042920589447 seconds to complete
4 / 4 /Users/brianmcmahon/Documents/Research Practicum/Data/taxi/yellow_tripdata_clean_2024-04.csv
add_taxi took 50.86842703819275 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 43.22024083137512 seconds to complete

In [116]:
postgres_host = 'localhost'
postgres_port = 5432 
database_name = 'busyness'
db_user = 'crafty'
db_password = 'winner'
table_name = 'public.busyness_data'

for i,bike_name in enumerate(bikeArray):
    print(i+1,"/",len(bikeArray),bike_name)
    bike = pd.read_csv(bike_name)
    bikeOutput = add_bike(bike, taxiZone)
    connect_to_postgres(bikeOutput ,postgres_host, postgres_port, database_name, db_user, db_password, table_name)

1 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_47.csv
add_bike took 15.62569808959961 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.055856704711914 seconds to complete
2 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_53.csv
add_bike took 11.123969793319702 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 4.8388121128082275 seconds to complete
3 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_52.csv
add_bike took 14.747516870498657 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.932225227355957 seconds to complete
4 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_46.csv
add_bike took 10.411691665649414 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.1796019077301025 seconds to complete
5 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_50.csv
add_bike took 14.48404574394226 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.9268670082092285 seconds to complete
6 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_44.csv
add_bike took 13.768080234527588 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.878215789794922 seconds to complete
7 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_45.csv
add_bike took 12.088531255722046 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.331818103790283 seconds to complete
8 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_51.csv
add_bike took 14.354920864105225 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.590204954147339 seconds to complete
9 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_55.csv
add_bike took 14.063071012496948 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.166470050811768 seconds to complete
10 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_41.csv
add_bike took 3.5672719478607178 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 1.6399579048156738 seconds to complete
11 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_69.csv
add_bike took 3.2480409145355225 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 1.6372528076171875 seconds to complete
12 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_68.csv
add_bike took 13.600090980529785 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.615153074264526 seconds to complete
13 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_40.csv
add_bike took 14.568992853164673 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.440210819244385 seconds to complete
14 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_54.csv
add_bike took 13.45353889465332 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.142938852310181 seconds to complete
15 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_42.csv
add_bike took 13.511327981948853 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 7.734342813491821 seconds to complete
16 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_56.csv
add_bike took 14.899906158447266 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.4823760986328125 seconds to complete
17 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_57.csv
add_bike took 7.722426891326904 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 3.6199729442596436 seconds to complete
18 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_43.csv
add_bike took 14.510199069976807 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.435693979263306 seconds to complete
19 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_5.csv
add_bike took 6.038419008255005 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 2.7830920219421387 seconds to complete
20 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_18.csv
add_bike took 13.786487102508545 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.914165735244751 seconds to complete
21 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_24.csv
add_bike took 14.25102162361145 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.911816120147705 seconds to complete
22 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_30.csv
add_bike took 0.6781518459320068 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 0.23572206497192383 seconds to complete
23 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_31.csv
add_bike took 13.16165018081665 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.7776198387146 seconds to complete
24 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_25.csv
add_bike took 14.762685298919678 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.307356834411621 seconds to complete
25 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_19.csv
add_bike took 13.579050064086914 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.296862840652466 seconds to complete
26 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_4.csv
add_bike took 9.44026517868042 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 4.114729166030884 seconds to complete
27 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_6.csv
add_bike took 13.500829935073853 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.81778621673584 seconds to complete
28 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_33.csv
add_bike took 3.0066871643066406 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 1.4965250492095947 seconds to complete
29 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_27.csv
add_bike took 6.512324094772339 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 2.885763168334961 seconds to complete
30 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_26.csv

add_bike took 13.289894819259644 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.3248209953308105 seconds to complete
31 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_32.csv
add_bike took 14.400392055511475 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 7.5448620319366455 seconds to complete
32 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_7.csv
add_bike took 13.592310905456543 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.279547214508057 seconds to complete
33 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_3.csv
add_bike took 13.488721132278442 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.140027761459351 seconds to complete
34 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_36.csv
add_bike took 14.31287693977356 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.171792984008789 seconds to complete
35 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_22.csv
add_bike took 14.972830772399902 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.935615062713623 seconds to complete
36 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_23.csv
add_bike took 9.782118082046509 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 4.286453723907471 seconds to complete
37 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_37.csv
add_bike took 11.295372247695923 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.597527742385864 seconds to complete
38 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_2.csv
add_bike took 4.080008029937744 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 1.8172979354858398 seconds to complete
39 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_0.csv
add_bike took 14.167321920394897 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.100754022598267 seconds to complete
40 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_21.csv
add_bike took 13.467814922332764 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 8.515823125839233 seconds to complete
41 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_35.csv
add_bike took 14.454280138015747 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.131120920181274 seconds to complete
42 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_34.csv
add_bike took 12.282334089279175 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.721147775650024 seconds to complete
43 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_20.csv
add_bike took 14.173108100891113 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.0589518547058105 seconds to complete
44 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_1.csv
add_bike took 13.59487509727478 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.232133150100708 seconds to complete
45 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_39.csv
add_bike took 14.271001100540161 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.367435693740845 seconds to complete
46 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_11.csv
add_bike took 13.079707860946655 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.816294193267822 seconds to complete
47 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_10.csv
add_bike took 14.115025997161865 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.036939859390259 seconds to complete
48 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_38.csv
add_bike took 13.29741382598877 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.921886920928955 seconds to complete
49 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_12.csv
add_bike took 0.28760814666748047 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 0.1226649284362793 seconds to complete
50 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_13.csv
add_bike took 13.297140836715698 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.574594020843506 seconds to complete
51 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_17.csv
add_bike took 15.21933913230896 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 7.6445231437683105 seconds to complete
52 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_16.csv
add_bike took 6.527536153793335 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 2.8892822265625 seconds to complete
53 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_9.csv
add_bike took 13.971271991729736 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.927475929260254 seconds to complete
54 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_14.csv
add_bike took 12.985461950302124 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.937468767166138 seconds to complete
55 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_28.csv
add_bike took 12.389201164245605 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.17784309387207 seconds to complete
56 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_29.csv
add_bike took 12.850898742675781 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.365073919296265 seconds to complete
57 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_15.csv
add_bike took 13.500962972640991 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.7372658252716064 seconds to complete
58 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_8.csv
add_bike took 7.1201300621032715 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 2.8789258003234863 seconds to complete
59 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_66.csv
add_bike took 7.230899810791016 seconds to complete
PostgreSQL connection opened

Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 3.0746140480041504 seconds to complete
60 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_72.csv
add_bike took 9.62047815322876 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 4.116938829421997 seconds to complete
61 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_73.csv
add_bike took 13.734704732894897 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.9048850536346436 seconds to complete
62 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_67.csv
add_bike took 13.02605414390564 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.510311841964722 seconds to complete
63 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_59.csv
add_bike took 1.152575969696045 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 0.5243690013885498 seconds to complete
64 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_71.csv
add_bike took 11.942615032196045 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 4.696034669876099 seconds to complete
65 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_65.csv
add_bike took 13.053106784820557 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.997406005859375 seconds to complete
66 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_64.csv
add_bike took 14.110639810562134 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.006076097488403 seconds to complete
67 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_70.csv
add_bike took 12.994493961334229 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.508157968521118 seconds to complete
68 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_58.csv
add_bike took 14.015716075897217 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.903229236602783 seconds to complete
69 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_74.csv
add_bike took 7.502769947052002 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 3.1503589153289795 seconds to complete
70 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_60.csv
add_bike took 13.098172187805176 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.449666976928711 seconds to complete
71 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_48.csv
add_bike took 14.062541007995605 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.932512998580933 seconds to complete
72 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_49.csv
add_bike took 13.458566188812256 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.8053131103515625 seconds to complete
73 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_61.csv
add_bike took 14.015407085418701 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.645339250564575 seconds to complete
74 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_75.csv
add_bike took 13.207481145858765 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.583211898803711 seconds to complete
75 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_63.csv
add_bike took 14.130121946334839 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 6.139317035675049 seconds to complete
76 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_77.csv
add_bike took 13.176756143569946 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.640988826751709 seconds to complete
77 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_76.csv
add_bike took 14.155415058135986 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.491023778915405 seconds to complete
78 / 78 /Users/brianmcmahon/Downloads/CitiBike/filtered/filtered_citibike_62.csv
add_bike took 13.571147918701172 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 5.524435043334961 seconds to complete

In [122]:
postgres_host = 'localhost'
postgres_port = 5432 
database_name = 'busyness'
db_user = 'crafty'
db_password = 'winner'
table_name = 'public.busyness_data'

for i,sub_name in enumerate(subArray):
    print(i+1,"/",len(subArray),sub_name)
    sub = pd.read_csv(sub_name)
    subOutput = add_sub(sub, taxiZone)
    connect_to_postgres(subOutput ,postgres_host, postgres_port, database_name, db_user, db_password, table_name)

1 / 6 /Users/brianmcmahon/Desktop/Subway_Filtered/combined_output_0.csv
add_sub took 79.59619784355164 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 27.96381902694702 seconds to complete
2 / 6 /Users/brianmcmahon/Desktop/Subway_Filtered/combined_output_1.csv
add_sub took 57.988381147384644 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 25.43887996673584 seconds to complete
3 / 6 /Users/brianmcmahon/Desktop/Subway_Filtered/combined_output_3.csv
add_sub took 67.09413409233093 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 26.313267946243286 seconds to complete
4 / 6 /Users/brianmcmahon/Desktop/Subway_Filtered/combined_output_2.csv
add_sub took 65.77857518196106 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 24.49073886871338 seconds to complete
5 / 6 /Users/brianmcmahon/Desktop/Subway_Filtered/combined_output_5.csv
add_sub took 60.98176693916321 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 24.525359869003296 seconds to complete
6 / 6 /Users/brianmcmahon/Desktop/Subway_Filtered/combined_output_4.csv
add_sub took 59.25985813140869 seconds to complete
PostgreSQL connection opened
Data inserted successfully
PostgreSQL connection closed
connect_to_postgres took 23.846732139587402 seconds to complete

In [119]:
sub = pd.read_csv(subArray[0])
subOutput = add_sub(sub, taxiZone)

add_sub took 74.16766691207886 seconds to complete

In [121]:
def add_sub(dataframe, taxiZone):
    #time process to estimate the total time across all data sources
    start_time = time.time()
    
    dataframe['mode'] = 'subway'

    #defining tables for pickup
    dataframe.loc[:, 'geometry'] = dataframe.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
    dataframe.loc[:, 'ridership'] = dataframe['ridership'] * -1

    geoPickup = gpd.GeoDataFrame(dataframe, geometry='geometry', crs="EPSG:4326")
    subOutput = gpd.sjoin(geoPickup, taxiZone, how="left", predicate="within")
    subOutput = subOutput.drop(columns=['geometry', 'longitude', 'latitude', 'index_right'])
    
    
    # Rename columns in pickupJoined and dropoffJoined
    subOutput = subOutput.rename(columns={
        'ridership': 'busynessscore',
        'transit_timestamp': 'timestamp',
        'location_id':'zonenumber'
    })
        
    
    subOutput['busynessscore'] = subOutput['busynessscore'].astype(int)
    
    print(f'add_sub took {time.time() - start_time} seconds to complete')
    
    return subOutput

In [120]:
subOutput

          timestamp  busynessscore    mode  passenger_count zonenumber
0        1711375200           -230  subway                1        186
1        1711375200            -47  subway                1        231
2        1711378800            -15  subway                1         69
3        1711382400            -10  subway                1         76
4        1711389600             -7  subway                1         94
...             ...            ...     ...              ...        ...
8989101  1702220400            -15  subway                1         43
8989102  1702220400             -5  subway                1        177
8989103  1702220400             -1  subway                1        216
8989104  1702220400             -1  subway                1        231
8989105  1702220400             -2  subway                1        117

[8989106 rows x 5 columns]